<!DoCtYpE hTmL>
<html>
	<head>
		<title>
		</title>
		<style>
			body {
				padding: 0;
				margin: 0;
				background-color: #ccaa77;
			}

			#main {
				width: 800px;
				height: 600px;
				margin-left: auto;
				margin-right: auto;
				/* margin-top: 15px; */
				background-color: #eeeeee;
			}
			
			#main-header {
				text-align: center;
				background-color: #ffffff;
				height: 50px;
			}
			
			#sidebar {
				width: 225px;
				height: 550px;
				float: left;
				background-color: #ddccaa;
			}
			
			#content {
				float: left;
				height: 550px;
				width: 575px;
			}
			
			#content-body {
				height: 425px;
				width: 575px;
				overflow: auto;
				/* overflow: scroll; */
				background-color: #ffeedd;
			}

			#content-menu {
				height: 125px;
				width: 575px;
				background-color: #ccbb88;
				text-align: center;
			}

			#main-footer {
				clear: both;
			}
		</style>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<% if(ctx=='attempt') { %>
			<script>
				var lesson = {
					intro: '<%=lesson.intro%>',
					q: [
						<% for (var x=0; x<lesson.q.length; x++) { %>
							[<%=x%>,'<%=lesson.q[x]%>','<%=lesson.a[x]%>']
							<% if (x+1!=lesson.q.length) { %>
								,
							<% } %>
						<% } %>
					]
				};
				var t,
					cur = 0,
					results = [],
					total = 0,
					correct = 0;
				function randOrd() {
					return (Math.round(Math.random())-0.5); 
				} 
				var randomize = function() {
					lesson.q = lesson.q.sort(randOrd);
				}
				var showQuestion = function() {
					$('#content-body').html(lesson.q[cur][1]);
					$('#content-menu').html('<button id="show-answer" onclick="showAnswer()">Show Answer</button>');
				};
				var showAnswer = function() {
					$('#content-body').html(lesson.q[cur][2]);
					$('#content-menu').html('<button id="was-correct" onclick="processAnswer(true)">Yes</button><button id="was-incorrect" onclick="processAnswer(false)">No</button>');
				};
				var processAnswer = function(result) {
					total++;
					correct+=result;
					results.push([lesson.q[cur][0],result]);
					(++cur<lesson.q.length) || (cur=0,randomize());
					showQuestion();
				};

				var startTest=function() {
					t = setTimeout(endTest, 10000);
					showQuestion();
				}
				var endTest = function() {
					$('#content-body').html('You answered '+correct+' of '+total+' questions correctly.');
					$('#content-menu').html('Submitting Results...');
					$.post('../../process-test', 
						{ u_id:<%=u_id%>, l_id:<%=l_id%>, correct:correct, total:total, results:results },
						function(data) {
							$('#content-menu').html('<button onclick="window.location.href='+"'http://'"+'+window.location.host+'+"'/results/<%=l_id%>/';"+'">View Results</button>');
						});
				};
				$(document).ready(function() {
					$('#content-body').html(lesson.intro);
					$('#content-menu').html('<button id="start-test" onclick="startTest()">Start the Test</button>');
				});
			</script>
		<% } else if (ctx=='view') { %>
			<script>
				var lesson = {
					intro: '<%=lesson.intro%>',
					q: [
						<% for (var x=0; x<lesson.q.length; x++) { %>
							[<%=x%>,'<%=lesson.q[x]%>','<%=lesson.a[x]%>']
							<% if (x+1!=lesson.q.length) { %>
								,
							<% } %>
						<% } %>
					]
				};
				$(document).ready(function() {
					$('#content-body').html(lesson.intro);
					$('#content-menu').html('<button id="show-intro">Intro</button>');
				});
			</script>
		<% } else if (ctx=='results') { %>
			<script src="/js/highcharts.js"></script>
			<script>
				var results = <%=JSON.stringify(results)%>;
				var chart;
				$(document).ready(function() {
					chart=new Highcharts.Chart({
						chart: {
							renderTo: 'chart',
							defaultSeriesType: 'column'
						},
						title: {
							text: 'Results'
						},
						subtitle: {
							text: 'Test <%=l_id%>'
						},
						xAxis: {
							categories: [
								<% for (var x=1;x<=results.length; x++) { %>
									'<%=x%>'
									<% if (x<results.length) { %>
										,
									<% } %>
								<% } %>
							],
							title: {
								text: 'Attempts'
							}
						},
						yAxis: {
							min: 0,
							title: {
								text: 'Questions'
							}
						},
						legend: {
							layout: 'vertical',
							backgroundColor: '#FFFFFF',
							align: 'left',
							verticalAlign: 'top',
							x: 100,
							y: 50
						},
						tooltip: {
							formatter: function() {
								return '<b>Attempt '+this.x+'</b><br>'+
										this.series.name+': '+this.y+'<br>'
							}
						},
						plotOptions: {
							column: {
								pointPadding: 0.2,
								borderWidth: 0
							}
						},
						exporting: {
							filename: '<%=u_name%>-test-results-lesson-<%=l_id%>'
						},
						series: [
							{
								name: 'Correct',
								data: [
									<% for (var x=0;x<results.length; x++) { %>
										<%=results[x].correct%>
										<% if (x+1<results.length) { %>
											,
										<% } %>
									<% } %>
								]
							},
							{
								name: 'Total',
								data: [
									<% for (var x=0;x<results.length; x++) { %>
										<%=results[x].total%>
										<% if (x+1<results.length) { %>
											,
										<% } %>
									<% } %>
								]
							}
						]
					});
				});
			</script>
		<% } %>
	</head>
	<body>
		<div id="main" notes="Centered main area">
			<div id="main-header" notes="centered Dare logo">
				<img src="/images/logo.gif">
			</div>
			<div id="main-body">
				<div id="sidebar" notes="float that contextual bitch left!">
					<ul>
						<li>Introduction</li>
						<li>
							1 Names <br>
							<a href="/test/1/">Test</a>&nbsp;
							<a href="/results/1/">Results</a>&nbsp;
							<a href="/lesson/1/">Study</a>&nbsp;
						</li>
						<li>
							2 Definitions <br>
							<a href="/test/1/">Test</a>&nbsp;
							<a href="/results/1/">Results</a>&nbsp;
							<a href="/lesson/1/">Study</a>&nbsp;
						</li>
						<li>
							3 Axioms <br>
							<a href="/test/1/">Test</a>&nbsp;
							<a href="/results/1/">Results</a>&nbsp;
							<a href="/lesson/1/">Study</a>&nbsp;
						</li>
						<li>
							4 Sentences <br>
							<a href="/test/1/">Test</a>&nbsp;
							<a href="/results/1/">Results</a>&nbsp;
							<a href="/lesson/1/">Study</a>&nbsp;
						</li>
						<li>
							5 Vignettes <br>
							<a href="/test/1/">Test</a>&nbsp;
							<a href="/results/1/">Results</a>&nbsp;
							<a href="/lesson/1/">Study</a>&nbsp;
						</li>
					</ul>
				</div>
				<div id="content" notes="">
					<div id="content-body" notes="content area">
						<% if (ctx=='home') { %>
							<% if (u_id==0) { %>
								<form action="/try-login/" method="post">
									<input name="uname" type="text">
									<input name="pword" type="password">
									<input type="submit" value="Login">
								</form>
								<br>
								<form action="/add-user/" method="post">
									<input name="uname" type="text">
									<input name="pword" type="password">
									<input type="submit" value="Login">
								</form>
							<% } else { %>
								Greetings <%=u_name%>!
							<% } %>
						<% } else if (ctx=='results') { %>
							<div id="chart" style="width:500; height:400px; margin: 0 auto;"></div>

						<% } %>
					</div>
					<div id="content-menu" notes="fixed height bottom context menu">
					</div>
				</div>
			</div>
			<div id="main-footer">
			</div>
		</div>
	</body>
</html>
